@use "../../mixin/mixin" as mix;
@use "../../config/config" as cf;

/* ナビゲーション */
.gnav{
    &__link {
        @include mix.base-font;
    }
}

@include mix.mq(sp){
    .gnav {
        top: 0;
        right: 100%;
        position: fixed;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        text-align: center;
        background-color: cf.$cMain-color;
        transition: transform 0.7s;

        &.menu__nav--open {
            transform: translateX(100%);
        } 
        
        &__contents {
            height: 100%;
        }
    
        &__item {
            height: 20%;

            &:hover {
                background-color: cf.$cHover;
            }
        }
        
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: cf.$cWhite;
        }
    }
}

@include mix.mq(pc){
    .gnav {
        &__contents {
            display: flex;
            margin-left: 10px;
        }

        &__item {
            margin-left: 10px;
        }

        &__link {
            color: cf.$cMain-color;

            &:hover {
                color: cf.$cHover;
            }
        }
    }
}